<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/modal.css" rel="stylesheet">
</head>
<body>

<!--modal-->
<section class="modal" style="line-height: 1.8;">
    <div class="flex">
        <h1>校正列表</h1>
        <button class="btn-close">不保存離開</button>
    </div>
    <div>
        <label style="font-size: 24px;">正確性評分：
            <select id="correctness" required style="width: 100px; height: 25px; ">
                <option value=""></option>
                <option value="正確">正確</option>
                <option value="錯誤">錯誤</option>
                <option value="沒念/毋知/袂曉">沒念/毋知/袂曉</option>
                <option value="音檔無聲">音檔無聲</option>
            </select>
        </label>

    </div>
    <hr style="height:3px;border-width:0;color:rgb(128,128,128);background-color:rgb(128,128,128)">
    <div style="font-size: 20px;">
        <label>
            入聲：
            <input type="text" class="input-block" maxlength="5" placeholder="例：1,2 (填入音節)">
        </label>
    </div>
    <div style="font-size: 20px;">
        送氣音：
        <br>

        <div style="margin-left: 40px;">
            <label>
                脫落
                <input type="text" class="input-block" maxlength="5" placeholder="請填入音節用逗號隔開">
            </label>
            &nbsp;
            <label>
                增加
                <input type="text" class="input-block" maxlength="5" placeholder="請填入音節用逗號隔開">
            </label>
        </div>

    </div>
    <div style="font-size: 20px;">
        <label>
            清濁錯誤：
            <input type="text" class="input-block" maxlength="5" placeholder="請填入音節用逗號隔開">
        </label>
    </div>
    <div style="font-size: 20px;">
        聲調錯誤：
        <br>
        <div style="margin-left: 40px;">
            <label>
                讀成華語四聲
                <input type="text" class="input-block" maxlength="5" placeholder="請填入音節用逗號隔開">
            </label>
            <br>
            <label>
                錯讀
                <input type="text" class="input-block" maxlength="5" placeholder="請填入音節用逗號隔開">
            </label>
            <br>
            <label>
                變調錯誤
                <input type="text" class="input-block" maxlength="5" placeholder="請填入音節用逗號隔開">
            </label>
        </div>

    </div>
    <hr>
    <div style="width: 100%; justify-content: space-between">
        <label style="font-size: 20px;">
            讀異音：
            <input type="text" class="input-block" maxlength="5" placeholder="請填入音節用逗號隔開">
        </label>
        <label>
            <input placeholder="詳細說明" type="text" style="width: 70%;">
        </label>
    </div>
    <div style="width: 100%;">
        <label style="font-size: 20px;">
            連結字偏旁：
            <input placeholder="詳細說明" type="text" style="width: 80%;">
        </label>
    </div>
    <hr>
    <div style="width: 100%;">
        <label style="font-size: 20px;">
            從華語字義轉譯成台語：
            <input placeholder="詳細說明" type="text" style="width: 80%;">
        </label>
    </div>
    <div style="width: 100%;">
        <label style="font-size: 20px;">
            直接唸成華語讀法：
            <input placeholder="詳細說明" type="text" style="width: 80%;">
        </label>
    </div>
    <div style="width: 100%;">
        <label style="font-size: 20px;">
            字義理解錯誤：
            <input placeholder="詳細說明" type="text" style="width: 80%;">
        </label>
    </div>
    <div style="width: 100%;">
        <label style="font-size: 20px;">
            狀態：
            <input placeholder="詳細說明" type="text" style="width: 80%;">
        </label>
    </div>
    <hr>
    <div style="width: 100%;">
        <label style="font-size: 20px;">
            備註欄：
            <input placeholder="詳細說明" type="text" style="width: 80%;">
        </label>
    </div>
    <button class="btn-modal" onclick="closeModal()">保存並離開</button>

</section>

<div class="overlay"></div>
<!--modal-->

<!--open modal button-->
<!--<button class="btn btn-open">Open Modal</button>-->

<!--script-->
<script src="../static/js/test.js"></script>
</body>
</html>